page-home {

}
ion-content.home{
background: url('../img/backgroundrps.png') center / cover;
}
h1.home{
    color:#fff;
    font-weight: 600;
    margin-top:50px !important;
    margin-bottom:200px !important;
}